name: Terraform CI/CD

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  #  CI: Run on PR to main
  terraform-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format
        run: terraform fmt -check -recursive

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume:  arn:aws:iam::355511497902:role/github_actions
          aws-region: us-east-1


      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        env:
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
        run: terraform plan -var "db_pass=$DB_PASSWORD"

  # CD: Run on merge to main
  terraform-apply:
    needs: [terraform-ci]

    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::355511497902:role/github_actions
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        env:
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
        run: terraform apply -auto-approve -var "db_pass=$DB_PASSWORD"
